@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
    background-color: #fafafa;
}
.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.payment-section {
    padding: 48px 0;
}
.payment-wrapper {
    margin: 20px;
    padding: 20px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 48%;
}
.payment-header {
    padding: 24px;
    background-color: #ff5722;
    border-radius: 12px;
    padding-bottom: 72px;
}
.payment-plan-change {
    white-space: nowrap;
}
.payment-summary-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 12px;
}
.payment-summary-divider {
    border-top: 1px dotted #000;
    margin: 10px 0;
}

.payment-header-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #e64a19;
    color: #ffffff;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}
.payment-header-title {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    line-height: 1.4;
    margin-bottom: 4px;
}
.payment-header-description {
    font-size: 15px;
    color: #e0e0e0;
    line-height: 1.5;
}
.payment-content {
    padding: 22px;
    margin-top: -64px;
    position: relative;
}
.payment-content::before {
    content: '';
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 32px);
    height: 16px;
    border-radius: 4px;
    background-color: #e64a19;
}
.payment-left {
    border: 1px solid #cccccc;
    padding:20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.payment-right {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin: 20px;
    border-radius: 10px;
}

.payment-form-control,
.payment-form-label {
    font-size: 18px;
    
}
.payment-title {
  padding: 0px 0px 10px 0px;
  font-size: 25px;
  font-weight: bold;
}

.payment-left {
    margin: 20px;
    border-radius: 20px;
}

.payment-right {
    margin-left: 20px;
}

.payment-body {
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, .05), inset 0 8px 0 rgba(0, 0, 0, .05);
    position: relative;
    padding-top: 8px;
    overflow: hidden;
}
.payment-plan {
    display: flex;
    align-items: center;
    padding: 12px;
}
.payment-plan-type {
    width: 40px;
    height: 40px;
    background-color: #ff5722;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-right: 8px;
}
.payment-plan-info {
    width: 100%;
    margin-right: 8px;
    display: grid;
}
.payment-plan-info-name {
    font-size: 13px;
    color: #757575;
    margin-bottom: 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.payment-plan-info-price {
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.payment-plan-change {
    color: #2196f3;
    font-size: 12px;
    font-weight: 600;
    text-underline-offset: 2px;
}
.payment-plan-change:hover {
    color: #1976d2;
}
.payment-method-item > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.payment-form-group {
    position: relative;
    margin-bottom: 16px;
}
.payment-form-control {
    outline: transparent;
    border: 1px solid #cccccc;
    border-radius: 8px;
    padding: 24px 16px 8px 16px;
    width: 100%;
    transition: all .15s ease-in-out;
}
.payment-form-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    color: #757575;
    pointer-events: none;
    transition: all .1s ease-in-out;
}
.payment-form-control:focus {
    outline: 1px solid #ff5722;
    border-color: #ff5722;
}
.payment-form-control:focus + .payment-form-label,
.payment-form-control:not(:placeholder-shown) + .payment-form-label {
    top: 30%;
    font-size: 12px;
}
.payment-form-label-required::after {
    content: ' *';
    color: #f44336;
}
.payment-form-group-flex {
    display: flex;
    align-items: center;
}
.payment-form-group-flex > * {
    width: 100%;
}
.payment-form-group-flex > :not(:last-child) {
    margin-right: 12px;
}
.payment-form-submit-button {
    background-color: #ff5722;
    border-radius: 8px;
    outline: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-weight: 600;
    padding: 16px;
    transition: all .15s ease-in-out;
}
.payment-form-submit-button:hover {
    background-color: #e64a19;
}
.payment-form-submit-button > i {
    margin-right: 8px;
}

@media screen and (max-width: 767px) {
    .container {
        flex-direction: column;
    }
    .payment-wrapper {
        width: 100%;
        margin-bottom: 24px;
    }
}
